<footer class="site-footer">
    <div class="site-footer__upper">
        <div class="container">
            <div class="row">
                <!--<div class="col-xl-3 col-lg-6 col-sm-12">-->
                <!--    <div class="footer-widget footer-widget__contact">-->
                <!--        <h2 class="footer-widget__title">Coding</h2><!-- /.footer-widget__title -->
                <!--        <ul class="list-unstyled footer-widget__course-list">-->
                <!--            <li>-->
                <!--                <h2><a href="#">WOULD YOU LIKE TO TEACH YOUR KID CODING, TRY <u>FUNDO KIDS</u></a></h2>-->
                <!--                <h2>Coding, also called as computer programming, is we use to communicate with computers. The Code which we write, tells a computer what actions to take, and writing code is like creating a set of instructions.</h2>-->

                <!--            </li>-->
                <!--        </ul><!-- /.footer-widget__course-list -->
                <!--    </div><!-- /.footer-widget -->
                <!--</div><!-- /.col-lg-3 -->
                <!--<div class="col-xl-3 col-lg-6 col-sm-12">-->
                <!--    <div class="footer-widget footer-widget__link">-->
                <!--<h2 class="footer-widget__title">Explore</h2><!-- /.footer-widget__title -->
                <!--        <div class="footer-widget__link-wrap">-->
                <!--<ul class="list-unstyled footer-widget__link-list">-->
                <!--    <li><a href="http://newsite.fundokids.in/Our-Story">Our Story</a></li>-->
                <!--    <li><a href="http://newsite.fundokids.in/Our-People">Our People</a></li>-->
                <!--    <li><a href="http://newsite.fundokids.in/Our-Workshops">Workshops</a></li>-->
                <!--    <li><a href="http://newsite.fundokids.in/Videos">Videos</a></li>-->
                <!--    <li><a href="http://newsite.fundokids.in/Blog">Our Blog</a></li>-->
                <!--</ul><!-- /.footer-widget__link-list -->
                <!--            <ul class="list-unstyled footer-widget__link-list">-->
                <!--                <li><a href="http://newsite.fundokids.in/Contact">Help </a></li>-->
                <!--            </ul><!-- /.footer-widget__link-list -->
                <!--            <ul class="list-unstyled footer-widget__link-list">-->
                <!--                <li><a href="http://newsite.fundokids.in/Contact">Contact</a></li>-->
                <!--            </ul><!-- /.footer-widget__link-list -->
                <!--            <ul class="list-unstyled footer-widget__link-list">-->
                <!--<li><a href="#">Register Now</a></li>-->
                <!--                <li><a href="http://newsite.fundokids.in/Our-Privacy-Policy">Privacy Policy</a></li>-->

                <!-- 
                      <!--                <li><a href="#">Terms And Condition</a></li> -->
                <!--            </ul><!-- /.footer-widget__link-list -->
                <!--        </div><!-- /.footer-widget__link-wrap -->
                <!--    </div><!-- /.footer-widget -->
                <!--</div><!-- /.col-lg-3 -->
                <!--<div class="col-xl-3 col-lg-6 col-sm-12">-->
                <!--    <div class="footer-widget footer-widget__gallery">-->
                <!--        <h2 class="footer-widget__title">Gallery</h2><!-- /.footer-widget__title -->
                <!--        <ul class="list-unstyled footer-widget__gallery-list">-->
                <!--            -->
                <!--            <li><a href="http://newsite.fundokids.in/Gallery"><img src="http://newsite.fundokids.in/newimage/USR-16290409161063.jpg" alt=""></a></li>-->
                <!--           -->
                <!--            <li><a href="http://newsite.fundokids.in/Gallery"><img src="http://newsite.fundokids.in/newimage/USR-1629042278828.jpg" alt=""></a></li>-->
                <!--           -->
                <!--            <li><a href="http://newsite.fundokids.in/Gallery"><img src="http://newsite.fundokids.in/newimage/USR-1629211530828.jpg" alt=""></a></li>-->
                <!--                                                -->
                <!--        </ul><!-- /.footer-widget__gallery -->
                <!--    </div><!-- /.footer-widget -->
                <!--</div><!-- /.col-lg-3 -->
                <!--<div class="col-xl-3 col-lg-6 col-sm-12">-->
                <!--    <div class="footer-widget footer-widget__about">-->
                <!--        <h2 class="footer-widget__title">About</h2><!-- /.footer-widget__title -->
                <!--        <p class="footer-widget__text">We provide central India's best online / offline classes and workshops with experts.</p><!-- /.footer-widget__text -->
                <!--        <div class="footer-widget__btn-block">-->
                <!--            <a href="http://newsite.fundokids.in/Contact" class="thm-btn">Contact</a><!-- /.thm-btn -->
                <!--            <a href="http://newsite.fundokids.in/Our-Long-Term-Programs" class="thm-btn">Programs</a><!-- /.thm-btn -->
                <!--        </div><!-- /.footer-widget__btn-block -->
                <!--    </div><!-- /.footer-widget -->
                <!--</div><!-- /.col-lg-3 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.site-footer__upper -->
    <div class="site-footer__bottom">
        <div class="container">
            <p class="site-footer__copy">&copy; Copyright 2021 by <a href="#">Fundo Kids</a></p>

            <ul class="list-unstyled footer-widget__link-list">
                <li><a href="Our-Privacy-Policy.ejs">Privacy Policy</a></li>
            </ul>
            <div class="site-footer__social">
                <a href="#" data-target="html" class="scroll-to-target site-footer__scroll-top"><i
                        class="kipso-icon-top-arrow"></i></a>
                <a target="_blank" href="https://www.facebook.com/fundokids.rpr"><i
                        class="fab fa-facebook-square"></i></a>
                <a target="_blank" href="https://www.instagram.com/fundo.kids/"><i class="fab fa-instagram"></i></a>
            </div><!-- /.site-footer__social -->
            <!-- /.site-footer__copy -->
        </div><!-- /.container -->
    </div><!-- /.site-footer__bottom -->
</footer><!-- /.site-footer -->

</div><!-- /.page-wrapper -->

<div class="search-popup">
    <div class="search-popup__overlay custom-cursor__overlay">
        <div class="cursor"></div>
        <div class="cursor-follower"></div>
    </div><!-- /.search-popup__overlay -->
    <div class="search-popup__inner">
        <form action="#" class="search-popup__form">
            <input type="text" name="search" placeholder="Type here to Search....">
            <button type="submit"><i class="kipso-icon-magnifying-glass"></i></button>
        </form>
    </div><!-- /.search-popup__inner -->
</div><!-- /.search-popup -->