<!--<div class="preloader"><span></span></div>-->

<!-- /.preloader -->

<div class="page-wrapper">

  <div class="topbar-one">

    <div class="container">

      <div class="topbar-one__left">

        <a href="#">info@fundokids.in

        </a>

        <a href="#">+91-8889900019 </a>

      </div><!-- /.topbar-one__left -->

      <div class="topbar-one__right">

        <!--  <a href="#">Login</a>

                    <a href="#">Register</a> -->

        <!-- <a href="">Drop Enquiry</a> -->

      </div><!-- /.topbar-one__right -->

    </div><!-- /.container -->

  </div><!-- /.topbar-one -->

  <header class="site-header site-header__header-one ">

    <nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">

      <div class="container clearfix">

        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="logo-box clearfix">

          <a class="navbar-brand" href="/Home">

            <img style="height: 80px; width: 200px;" src="assets/fundo_logo.png" class="main-logo" width="128"
              alt="Awesome Image" />

          </a>

          <button class="menu-toggler" data-target=".main-navigation">

            <span class="kipso-icon-menu"></span>

          </button>

        </div><!-- /.logo-box -->

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="main-navigation">

          <ul class=" navigation-box">

            <li class="current">

              <!--<a href="http://newsite.fundokids.in/Home">Home</a>-->
              <a href="/Home"></a>

            </li>

            <li>

              <a href="#">Programs</a>

              <ul class="sub-menu">

                <li><a href="/Explore-Programs">Explore | Programs</a></li>

                <li><a href="/Explore-Experience">Explore | Experience</a></li>

              </ul><!-- /.sub-menu -->

            </li>

            <li>

              <a href="#">More </a>

              <ul class="sub-menu">

                <li><a href="/About-Us">About Us</a></li>

                <li><a href="/Gallery">Gallery</a></li>

                <li><a href="/Videos">Videos by Kids</a></li>

                <li><a href="/Our-latest-News-and-Articles">Our latest News and Articles</a></li>
                <li><a href="#faq">FAQ</a></li>

                <li><a href="/Contact">Contact</a>
                <li>

              </ul><!-- /.sub-menu -->

            </li>

            <!-- <li> -->
            <!-- <nav class="navbar">
                <a class="logo" href="index.ejs">
                  <img src="assets/images/logo.webp" type="">
                </a>
                <div class="login">
                  <a id="login" href='/admin_login'>

                    ADMIN LOGIN
                  </a>
                  <a id="join" href="/register">
                    JOIN FOR FREE
                  </a>
                </div>
              </nav> -->
            <!-- <section class="thm-gray-bg">
                <a href="/admin_login" class="thm-btn">ADMIN LOGIN</a> -->
            <!-- /.thm-btn -->
            <!-- </section> -->
            <!-- /.thm-gray-bg course-category-one -->
            <!-- </li> -->
            <!-- <li>
              <section class="thm-gray-bg">
                <a href="/register" class="thm-btn">JOIN FOR FREE</a> -->
            <!-- /.thm-btn -->
            <!-- </section> -->
            <!-- /.thm-gray-bg course-category-one -->
            <!-- </li> -->

          </ul>

        </div><!-- /.navbar-collapse -->

        <div class="right-side-box">

          <!-- <a class="header__search-btn search-popup__toggler" href="#"><i class="kipso-icon-magnifying-glass"></i> -->

          <!-- /.kipso-icon-magnifying-glass --></a>

        </div><!-- /.right-side-box -->

      </div>

      <!-- /.container -->

    </nav>