<!DOCTYPE html>

<html lang="en">


<!-- Mirrored from newsite.fundokids.in/About-Us by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 16 Dec 2021 21:29:05 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Fundo Kids Learning</title>

    <%- include('partials/header_links') %>

</head>

<body>

    <%- include('partials/navbar') %>

        <div class="site-header__decor">

            <div class="site-header__decor-row">

                <div class="site-header__decor-single">

                    <div class="site-header__decor-inner-1"></div><!-- /.site-header__decor-inner -->

                </div><!-- /.site-header__decor-single -->

                <div class="site-header__decor-single">

                    <div class="site-header__decor-inner-2"></div><!-- /.site-header__decor-inner -->

                </div><!-- /.site-header__decor-single -->

                <div class="site-header__decor-single">

                    <div class="site-header__decor-inner-3"></div><!-- /.site-header__decor-inner -->

                </div><!-- /.site-header__decor-single -->

            </div><!-- /.site-header__decor-row -->

        </div><!-- /.site-header__decor -->

        </header><!-- /.site-header -->
        <section style="background-image: url(assets/user/images/aboutus2.jpg) ;" class="inner-banner">
            <div class="container">
                <ul class="list-unstyled thm-breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active"><a href="#">About</a></li>
                </ul><!-- /.list-unstyled -->
                <h2 class="inner-banner__title">About Us</h2><!-- /.inner-banner__title -->
            </div><!-- /.container -->
        </section><!-- /.inner-banner -->

        <section style="background-color: #eee; color: black;"><br><br>
            <div class="container">
                <h3>About Us</h3>

                <br>
                <p>
                    <b>Nov 2019:</b> Humble begning of Fundo Kids as a indoor playzone in Raipur, C.G.
                    <br>

                    <b>Jan</b> 2020: Received overwhelming response from parents
                    <br>

                    <b>Mar</b> 2020: Introduced our learning programs for students of all age, every students can find
                    suitable course for their needs.
                    <br>

                    <b>Apr</b> 2021: Set back as due to lockdown, had to close indoor playzone.
                    <br>

                    <b>Jun</b> 2020: Introduced robotics and IoT courses.
                    <br>

                    <b>Nov</b> 2020: More than 25 students got training on various programs.
                    <br>

                    <b>Mar</b> 2021: Created a community to promote arts & crafts among students
                    <br>

                    <b>June</b> 2021: Started weekend workshops for students on technical and non technical topics which
                    can be useful for them. Again received overwhelming response by our belowed students and parents.

                    <br>

                    We pledge to continue our work and change the learning system.
                    <br>

                    We pledge to reach to every students with their suitable programs.
                    <br>

                    We pledge to make courses affordable to all.
                    <br>

                    We pledge to change the way of learning, make it more interactive, practical and fun way of
                    learning.
                </p>
            </div><br><br>
        </section>




        <%- include('partials/footer') %>
            <%- include('partials/footer_links') %>
</body>

<!-- Mirrored from newsite.fundokids.in/About-Us by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 16 Dec 2021 21:29:05 GMT -->

</html>