<!DOCTYPE html>

<html lang="en">


<!-- Mirrored from newsite.fundokids.in/Blog by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 16 Dec 2021 21:30:06 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Fundo Kids Learning</title>

    <%- include('partials/header_links') %>

</head>

<body>

    <%- include('partials/navbar') %>


        <div class="site-header__decor">

            <div class="site-header__decor-row">

                <div class="site-header__decor-single">

                    <div class="site-header__decor-inner-1"></div><!-- /.site-header__decor-inner -->

                </div><!-- /.site-header__decor-single -->

                <div class="site-header__decor-single">

                    <div class="site-header__decor-inner-2"></div><!-- /.site-header__decor-inner -->

                </div><!-- /.site-header__decor-single -->

                <div class="site-header__decor-single">

                    <div class="site-header__decor-inner-3"></div><!-- /.site-header__decor-inner -->

                </div><!-- /.site-header__decor-single -->

            </div><!-- /.site-header__decor-row -->

        </div><!-- /.site-header__decor -->

        </header><!-- /.site-header -->
        <section class="inner-banner">
            <div class="container">
                <ul class="list-unstyled thm-breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active"><a href="#">Our news</a></li>
                </ul><!-- /.list-unstyled -->
                <h2 class="inner-banner__title">Our latest news & article</h2><!-- /.inner-banner__title -->
            </div><!-- /.container -->
        </section><!-- /.inner-banner -->
        <section class="blog-one blog-page">
            <div class="container">
                <div class="row">


                    <div class="col-lg-4">
                        <div class="blog-one__single">
                            <div class="blog-one__image">
                                <img style="height: 250px;" src="newimage/USR-1631534447579.webp" alt="">
                                <a class="blog-one__plus" href="Blog-Details/fly-higher/9.ejs"><i
                                        class="kipso-icon-plus-symbol"></i>
                                    <!-- /.kipso-icon-plus-symbol --></a>
                            </div><!-- /.blog-one__image -->
                            <div class="blog-one__content text-center" style="height: 400px;">
                                <!-- /.blog-one__meta -->
                                <h2 class="blog-one__title"><a href="Blog-Details/fly-higher/9.ejs">Fly higher -
                                        Uchaiyon ki udan</a>
                                </h2><!-- /.blog-one__title -->
                                <p class="blog-one__text">
                                <p>नई पीढ़ी और उनके विचार</p>
                                <p>आज की 21वीं शताब्दी में हम&#8230;</p><!-- /.blog-one__text -->
                                <a href="Blog-Details/fly-higher/9.ejs" class="blog-one__link">Read More</a>
                                <!-- /.blog-one__link -->
                            </div><!-- /.blog-one__content -->
                        </div><!-- /.blog-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="blog-one__single">
                            <div class="blog-one__image">
                                <img style="height: 250px;" src="newimage/USR-1631533645561.png" alt="">
                                <a class="blog-one__plus" href="Blog-Details/learning-system/8.ejs"><i
                                        class="kipso-icon-plus-symbol"></i>
                                    <!-- /.kipso-icon-plus-symbol --></a>
                            </div><!-- /.blog-one__image -->
                            <div class="blog-one__content text-center" style="height: 400px;">
                                <!-- /.blog-one__meta -->
                                <h2 class="blog-one__title"><a href="Blog-Details/learning-system/8.ejs">Learning
                                        System</a>
                                </h2><!-- /.blog-one__title -->
                                <p class="blog-one__text">
                                <p>When technology is integrated into lessons, students are expected to&#8230;</p>
                                <!-- /.blog-one__text -->
                                <a href="Blog-Details/learning-system/8.ejs" class="blog-one__link">Read More</a>
                                <!-- /.blog-one__link -->
                            </div><!-- /.blog-one__content -->
                        </div><!-- /.blog-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="blog-one__single">
                            <div class="blog-one__image">
                                <img style="height: 250px;" src="newimage/USR-163153030089.png" alt="">
                                <a class="blog-one__plus" href="Blog-Details/technology-pros-cons-for-kids/7.ejs"><i
                                        class="kipso-icon-plus-symbol"></i>
                                    <!-- /.kipso-icon-plus-symbol --></a>
                            </div><!-- /.blog-one__image -->
                            <div class="blog-one__content text-center" style="height: 400px;">
                                <!-- /.blog-one__meta -->
                                <h2 class="blog-one__title"><a
                                        href="Blog-Details/technology-pros-cons-for-kids/7.ejs">Technology - Pros
                                        and Cons for Kids</a>
                                </h2><!-- /.blog-one__title -->
                                <p class="blog-one__text">
                                <p>T - the<br>E - easiest<br>C - careful<br>H - huge<br>N -&#8230;</p>
                                <!-- /.blog-one__text -->
                                <a href="Blog-Details/technology-pros-cons-for-kids/7.ejs" class="blog-one__link">Read
                                    More</a><!-- /.blog-one__link -->
                            </div><!-- /.blog-one__content -->
                        </div><!-- /.blog-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="blog-one__single">
                            <div class="blog-one__image">
                                <img style="height: 250px;" src="newimage/USR-1631528885223.png" alt="">
                                <a class="blog-one__plus" href="Blog-Details/healthy-food-habits/6.ejs"><i
                                        class="kipso-icon-plus-symbol"></i>
                                    <!-- /.kipso-icon-plus-symbol --></a>
                            </div><!-- /.blog-one__image -->
                            <div class="blog-one__content text-center" style="height: 400px;">
                                <!-- /.blog-one__meta -->
                                <h2 class="blog-one__title"><a href="Blog-Details/healthy-food-habits/6.ejs">Parenting
                                        101: Healthy food
                                        habits</a>
                                </h2><!-- /.blog-one__title -->
                                <p class="blog-one__text">
                                <p>One of the best gift you can give to your&#8230;</p><!-- /.blog-one__text -->
                                <a href="Blog-Details/healthy-food-habits/6.ejs" class="blog-one__link">Read
                                    More</a><!-- /.blog-one__link -->
                            </div><!-- /.blog-one__content -->
                        </div><!-- /.blog-one__single -->
                    </div><!-- /.col-lg-4 -->

                </div><!-- /.row -->
                <!-- /.post-pagination -->
            </div><!-- /.container -->
        </section><!-- /.blog-one blog-page -->
        <%- include('partials/footer') %>
            <%- include('partials/footer_links') %>
</body>

<!-- Mirrored from newsite.fundokids.in/Blog by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 16 Dec 2021 21:30:06 GMT -->

</html>