<!DOCTYPE html>

<html lang="en">


<!-- Mirrored from newsite.fundokids.in/Explore-Experience by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 16 Dec 2021 21:28:17 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Fundo Kids Learning</title>

    <%- include('partials/header_links') %>

</head>

<body>

    <%- include('partials/navbar') %>

        <div class="site-header__decor">

            <div class="site-header__decor-row">

                <div class="site-header__decor-single">

                    <div class="site-header__decor-inner-1"></div><!-- /.site-header__decor-inner -->

                </div><!-- /.site-header__decor-single -->

                <div class="site-header__decor-single">

                    <div class="site-header__decor-inner-2"></div><!-- /.site-header__decor-inner -->

                </div><!-- /.site-header__decor-single -->

                <div class="site-header__decor-single">

                    <div class="site-header__decor-inner-3"></div><!-- /.site-header__decor-inner -->

                </div><!-- /.site-header__decor-single -->

            </div><!-- /.site-header__decor-row -->

        </div><!-- /.site-header__decor -->

        </header><!-- /.site-header -->
        <section class="inner-banner">
            <div class="container">
                <ul class="list-unstyled thm-breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active"><a href="#">Explore Experience</a></li>
                </ul><!-- /.list-unstyled -->
                <h4 class="inner-banner__title">Explore Experience</h4><!-- /.inner-banner__title -->
            </div><!-- /.container -->
        </section><!-- /.inner-banner -->
        <section class="course-one course-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="course-one__single">
                            <div class="course-one__image">
                                <img style="height: 250px;" src="newimage/USR-1632461579284.jpg" alt="">
                                <!-- /.far fa-heart -->
                            </div><!-- /.course-one__image -->
                            <div class="course-one__content" style="height: 500px;">
                                <!-- /.course-one__category -->
                                <!-- /.course-one__admin -->
                                <h2 class="course-one__title"><a href="Workshop-Details/31 ">Upload By Ayushi</a></h2>
                                <!-- /.course-one__title -->
                                <p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, non? Harum iusto ipsam
                                    pariatur temporibus dolore id debitis aliquam. AuteLorem&#8230;</p>
                                <!-- /.course-one__meta -->
                                <a href="Workshop-Details/31 " class="course-one__link">See Preview</a>
                                <!-- /.course-one__link -->
                            </div><!-- /.course-one__content -->
                        </div><!-- /.course-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="course-one__single">
                            <div class="course-one__image">
                                <img style="height: 250px;" src="newimage/USR-1629043467669.jpg" alt="">
                                <!-- /.far fa-heart -->
                            </div><!-- /.course-one__image -->
                            <div class="course-one__content" style="height: 500px;">
                                <!-- /.course-one__category -->
                                <!-- /.course-one__admin -->
                                <h2 class="course-one__title"><a href="Workshop-Details/30 ">Freelancer Website</a></h2>
                                <!-- /.course-one__title -->
                                <p>
                                <p>s Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, non? Harum iusto ipsam
                                    pariatur temporibus dolore id debitis aliquam.&#8230;</p>
                                <!-- /.course-one__meta -->
                                <a href="Workshop-Details/30 " class="course-one__link">See Preview</a>
                                <!-- /.course-one__link -->
                            </div><!-- /.course-one__content -->
                        </div><!-- /.course-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="course-one__single">
                            <div class="course-one__image">
                                <img style="height: 250px;" src="newimage/USR-16290434531058.jpg" alt="">
                                <!-- /.far fa-heart -->
                            </div><!-- /.course-one__image -->
                            <div class="course-one__content" style="height: 500px;">
                                <!-- /.course-one__category -->
                                <!-- /.course-one__admin -->
                                <h2 class="course-one__title"><a href="Workshop-Details/29 ">Social Media Website</a>
                                </h2>
                                <!-- /.course-one__title -->
                                <p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, non? Harum iusto ipsam
                                    pariatur temporibus dolore id debitis aliquam. Autem&#8230;</p>
                                <!-- /.course-one__meta -->
                                <a href="Workshop-Details/29 " class="course-one__link">See Preview</a>
                                <!-- /.course-one__link -->
                            </div><!-- /.course-one__content -->
                        </div><!-- /.course-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="course-one__single">
                            <div class="course-one__image">
                                <img style="height: 250px;" src="newimage/USR-1631711387910.jpg" alt="">
                                <!-- /.far fa-heart -->
                            </div><!-- /.course-one__image -->
                            <div class="course-one__content" style="height: 500px;">
                                <!-- /.course-one__category -->
                                <!-- /.course-one__admin -->
                                <h2 class="course-one__title"><a href="Workshop-Details/28 ">FREE Online Theatre
                                        Workshop</a></h2>
                                <!-- /.course-one__title -->
                                <p>
                                <p><strong>Date: </strong>29-Aug<br />
                                    <strong>Time:</strong> 10-11 am<br />
                                    <strong>Age:</strong> 8-16 Yrs.&nbsp;<br />
                                    <strong>Venue: </strong>Google Meet
                                </p>

                                <p>&nbsp;</p>

                                <p><strong>Students will learn:</strong><br />
                                    -&#8230;</p>
                                <!-- /.course-one__meta -->
                                <a href="Workshop-Details/28 " class="course-one__link">See Preview</a>
                                <!-- /.course-one__link -->
                            </div><!-- /.course-one__content -->
                        </div><!-- /.course-one__single -->
                    </div><!-- /.col-lg-4 -->

                </div><!-- /.container -->
        </section><!-- /.course-one course-page -->
        <%- include('partials/footer') %>
            <%- include('partials/footer_links') %>
</body>

<!-- Mirrored from newsite.fundokids.in/Explore-Experience by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 16 Dec 2021 21:29:05 GMT -->

</html>