<!DOCTYPE html>

<html lang="en">


<!-- Mirrored from newsite.fundokids.in/Explore-Programs by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 16 Dec 2021 21:28:17 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Fundo Kids Learning</title>

    <%- include('partials/header_links') %>

</head>

<body>

    <%- include('partials/navbar') %>

        <div class="site-header__decor">

            <div class="site-header__decor-row">

                <div class="site-header__decor-single">

                    <div class="site-header__decor-inner-1"></div><!-- /.site-header__decor-inner -->

                </div><!-- /.site-header__decor-single -->

                <div class="site-header__decor-single">

                    <div class="site-header__decor-inner-2"></div><!-- /.site-header__decor-inner -->

                </div><!-- /.site-header__decor-single -->

                <div class="site-header__decor-single">

                    <div class="site-header__decor-inner-3"></div><!-- /.site-header__decor-inner -->

                </div><!-- /.site-header__decor-single -->

            </div><!-- /.site-header__decor-row -->

        </div><!-- /.site-header__decor -->

        </header><!-- /.site-header -->
        <section class="inner-banner">

            <div class="container">

                <ul class="list-unstyled thm-breadcrumb">

                    <li><a href="#">Home</a></li>

                    <li class="active"><a href="#">Explore Programs</a></li>

                </ul><!-- /.list-unstyled -->

                <h4 class="inner-banner__title">Explore Programs</h4><!-- /.inner-banner__title -->

            </div><!-- /.container -->

        </section><!-- /.inner-banner -->

        <section class="course-one course-page">

            <div class="container">

                <div class="row">

                    <div class="col-lg-4">

                        <div class="course-one__single">

                            <div class="course-one__image">

                                <img style="height: 250px;"
                                    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fbrocku.ca%2Fprograms%2Fwp-content%2Fuploads%2Fsites%2F10%2FEarly-Childhood-Education-1800x1100.jpg%3Fx54557&amp;f=1&amp;nofb=1"
                                    alt="">


                                <!-- /.far fa-heart -->

                            </div><!-- /.course-one__image -->

                            <div class="course-one__content">

                                <a href="#" class="course-one__category">

                                    Child Development </a><!-- /.course-one__category -->

                                <!--<div class="course-one__admin">-->

                                <!--    <img src="http://newsite.fundokids.in/assets/user/images/team-1-6.jpg" alt="">-->

                                <!--    by <a href="teacher-details.php">Admin</a>-->

                                <!--</div><!-- /.course-one__admin -->

                                <h2 class="course-one__title"><a href="#">Child Development Classes </a></h2>

                                <p> Specially designed course for kids
                                    motor skills, early hobby development, vocabulary and various different skills of
                                    Child</p>

                                <br><br><br><br><br><br>
                                <div class="course-one__meta">

                                    <a href="#"><i class="far fa-clock"></i>Duration: 3 months </a>

                                    <a href="#"><i class="far fa-folder-open"></i>Age: 3-7 yrs</a>

                                </div><!-- /.course-one__meta -->

                            </div><!-- /.course-one__content -->

                        </div><!-- /.course-one__single -->

                    </div><!-- /.col-lg-4 -->

                    <div class="col-lg-4">

                        <div class="course-one__single">

                            <div class="course-one__image">

                                <img style="height: 250px;"
                                    src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fonlinestory.in%2Fwp-content%2Fuploads%2F2018%2F02%2Fcomputer-knowledge.jpg&amp;f=1&amp;nofb=1"
                                    alt="">


                                <!-- /.far fa-heart -->

                            </div><!-- /.course-one__image -->

                            <div class="course-one__content">

                                <a href="#" class="course-one__category">

                                    Basic Computer </a><!-- /.course-one__category -->

                                <!--<div class="course-one__admin">-->

                                <!--    <img src="http://newsite.fundokids.in/assets/user/images/team-1-6.jpg" alt="">-->

                                <!--    by <a href="teacher-details.php">Admin</a>-->

                                <!--</div><!-- /.course-one__admin -->

                                <h2 class="course-one__title"><a href="#">Basic Computer Knowledge

                                    </a></h2>

                                <!-- /.course-one__title -->

                                <ul>
                                    <li>Computer basics</li>
                                    <li>Knowing Operating system</li>
                                    <li>Understanding Word processing</li>
                                    <li>Using spread sheets</li>
                                    <li>Introduction of Internet, web browsers</li>
                                    <li>Emails & netiquette</li>
                                    <li>Making small presentation</li>
                                    <li>Excel</li>
                                    <li>Financial literacy</li>
                                </ul>

                                <div class="course-one__meta">

                                    <a href="#"><i class="far fa-clock"></i>Duration: 2 months</a>

                                    <a href="#"><i class="far fa-folder-open"></i>Age:- Any</a>

                                </div><!-- /.course-one__meta -->

                            </div><!-- /.course-one__content -->

                        </div><!-- /.course-one__single -->

                    </div><!-- /.col-lg-4 -->

                    <div class="col-lg-4">

                        <div class="course-one__single">

                            <div class="course-one__image">

                                <img style="height: 250px;"
                                    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.grouponcdn.com%2Fdeal%2F3UwTubwYpeETC59LQjSfVPgRCB6Q%2F3U-960x576%2Fv1%2Fc700x420.jpg&amp;f=1&amp;nofb=1"
                                    alt="">


                                <!-- /.far fa-heart -->

                            </div><!-- /.course-one__image -->

                            <div class="course-one__content">

                                <a href="#" class="course-one__category">

                                    Game Making</a><!-- /.course-one__category -->

                                <!--<div class="course-one__admin">-->

                                <!--    <img src="http://newsite.fundokids.in/assets/user/images/team-1-6.jpg" alt="">-->

                                <!--    by <a href="teacher-details.php">Admin</a>-->

                                <!--</div><!-- /.course-one__admin -->

                                <h2 class="course-one__title"><a href="#">Game Making Course</a></h2>

                                <!-- /.course-one__title -->
                                <ul>
                                    <li>Make your own game</li>
                                    <li>Hands on approach</li>
                                    <li>100% practical knowledge</li>
                                    <li>Quantitative skills</li>
                                    <li>Critical reasoning</li>
                                    <li>Emotional intelligence</li>

                                </ul>
                                <br><br><br><br><br>
                                <div class="course-one__meta">

                                    <a href="#"><i class="far fa-clock"></i>Duration: 38 hours</a>

                                    <a href="#"><i class="far fa-folder-open"></i>Age: 6+ yrs</a>
                                </div><!-- /.course-one__meta -->

                            </div><!-- /.course-one__content -->

                        </div><!-- /.course-one__single -->

                    </div><!-- /.col-lg-4 -->

                    <div class="col-lg-4">

                        <div class="course-one__single">

                            <div class="course-one__image">

                                <img style="height: 250px;"
                                    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthumbs.dreamstime.com%2Fb%2Fmobile-application-development-concept-vector-illustration-smartphone-software-ui-interface-construction-app-device-building-152773926.jpg&amp;f=1&amp;nofb=1"
                                    alt="">

                                <!-- /.far fa-heart -->

                            </div><!-- /.course-one__image -->

                            <div class="course-one__content">

                                <a href="#" class="course-one__category">

                                    App Development </a><!-- /.course-one__category -->

                                <!--<div class="course-one__admin">-->

                                <!--    <img src="http://newsite.fundokids.in/assets/user/images/team-1-6.jpg" alt="">-->

                                <!--    by <a href="teacher-details.php">Admin</a>-->

                                <!--</div><!-- /.course-one__admin -->

                                <h2 class="course-one__title"><a href="#">App Development Course </a></h2>

                                <!-- /.course-one__title -->

                                <ul>
                                    <li>Make your own Application</li>
                                    <li>Critical reasoning</li>
                                    <li>Analytical skill</li>
                                    <li>Hands on approach</li>
                                    <li>100% practical knowledge</li>
                                    <li>Quantitative skills</li>
                                    <li>Systematic thinking process</li>

                                </ul>
                                <br><br><br>
                                <div class="course-one__meta">

                                    <a href="#"><i class="far fa-clock"></i>Duration: 50 hours</a>

                                    <a href="#"><i class="far fa-folder-open"></i>Age: 8+ yrs</a>

                                </div><!-- /.course-one__meta -->

                            </div><!-- /.course-one__content -->

                        </div><!-- /.course-one__single -->

                    </div><!-- /.col-lg-4 -->

                    <div class="col-lg-4">

                        <div class="course-one__single">

                            <div class="course-one__image">

                                <img style="height: 250px;"
                                    src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fattitudetallyacademy.com%2FBlog%2Fwp-content%2Fuploads%2F2017%2F12%2Flearn-spoken-english-in-yamuna-vihar.jpg&amp;f=1&amp;nofb=1"
                                    alt="">

                                <!-- /.far fa-heart -->

                            </div><!-- /.course-one__image -->

                            <div class="course-one__content">

                                <a href="#" class="course-one__category">

                                    Spoken English</a><!-- /.course-one__category -->

                                <!--<div class="course-one__admin">-->

                                <!--    <img src="http://newsite.fundokids.in/assets/user/images/team-1-6.jpg" alt="">-->

                                <!--    by <a href="teacher-details.php">Admin</a>-->

                                <!--</div><!-- /.course-one__admin -->

                                <h2 class="course-one__title">

                                    Spoken English

                                    <a href="#"></a>
                                </h2>

                                <!-- /.course-one__title -->

                                <p>Improve your spoken English Free! Basics of English Speaking for beginners using
                                    common expressions. Learn what to say and how to say things in daily conversations.
                                    Improve your English fluency in a business and office setting. Improve your
                                    listening skills with fun questions and answers. Build basic grammar skills
                                    pertaining to English speaking.</p>
                                <!-- <br><br><br><br><br><br><br><br><br><br><br> -->
                                <div class="course-one__meta">

                                    <a href="#"><i class="far fa-clock"></i>Duration: 3 Months </a>

                                    <a href="#"><i class="far fa-folder-open"></i>Age: Any </a>

                                </div><!-- /.course-one__meta -->

                            </div><!-- /.course-one__content -->

                        </div><!-- /.course-one__single -->

                    </div><!-- /.col-lg-4 -->

                    <div class="col-lg-4">

                        <div class="course-one__single">

                            <div class="course-one__image">

                                <img style="height: 250px;"
                                    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftridenstechnology.com%2Fwp-content%2Fuploads%2F2019%2F08%2FIoT-devices.jpg&amp;f=1&amp;nofb=1"
                                    alt="">


                                <!-- /.far fa-heart -->

                            </div><!-- /.course-one__image -->

                            <div class="course-one__content">

                                <a href="#" class="course-one__category">

                                    Internet Of Things</a><!-- /.course-one__category -->

                                <!--<div class="course-one__admin">-->

                                <!--    <img src="http://newsite.fundokids.in/assets/user/images/team-1-6.jpg" alt="">-->

                                <!--    by <a href="teacher-details.php">Admin</a>-->

                                <!--</div><!-- /.course-one__admin -->

                                <h2 class="course-one__title"><a href="#">Internet Of Things (IoT)

                                    </a></h2>

                                <!-- /.course-one__title -->

                                <p>Learn home automation like connecting different devices, controlling through phone,
                                    security and more</p>
                                <br><br><br><br><br><br><br>
                                <div class="course-one__meta">

                                    <a href="#"><i class="far fa-clock"></i>Duration: 2 months </a>

                                    <a href="#"><i class="far fa-folder-open"></i>Age: 8+ yrs </a>

                                </div><!-- /.course-one__meta -->

                            </div><!-- /.course-one__content -->

                        </div><!-- /.course-one__single -->

                    </div><!-- /.col-lg-4 -->

                    <div class="col-lg-4">

                        <div class="course-one__single">

                            <div class="course-one__image">

                                <img style="height: 250px;"
                                    src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fhvm.catapult.org.uk%2Fwp-content%2Fuploads%2F2019%2F05%2FBARA.jpg&amp;f=1&amp;nofb=1"
                                    alt="" class="">


                                <!-- /.far fa-heart -->

                            </div><!-- /.course-one__image -->

                            <div class="course-one__content">

                                <a href="#" class="course-one__category">

                                    Robotics</a><!-- /.course-one__category -->

                                <!--<div class="course-one__admin">-->

                                <!--    <img src="http://newsite.fundokids.in/assets/user/images/team-1-6.jpg" alt="">-->

                                <!--    by <a href="teacher-details.php">Admin</a>-->

                                <!--</div><!-- /.course-one__admin -->-->

                                <h2 class="course-one__title"><a href="#">Robotics </a></h2>

                                <!-- /.course-one__title -->

                                <ul>
                                    <li>Learn robotics through easy and practical approach. </li>
                                    <li>100% hands on classes</li>
                                    <li>Robotics kits are also available</li>
                                </ul><br><br><br><br><br><br>

                                <div class="course-one__meta">

                                    <a href="#"><i class="far fa-clock"></i>Duration: 3 months </a>

                                    <a href="#"><i class="far fa-folder-open"></i>Age: 8+ yrs </a>

                                </div><!-- /.course-one__meta -->

                            </div><!-- /.course-one__content -->

                        </div><!-- /.course-one__single -->

                    </div><!-- /.col-lg-4 -->

                </div><!-- /.row -->

            </div><!-- /.container -->

        </section><!-- /.course-one course-page -->

        <%- include('partials/footer') %>
            <%- include('partials/footer_links') %>
</body>

<!-- Mirrored from newsite.fundokids.in/Explore-Programs by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 16 Dec 2021 21:28:17 GMT -->

</html>