<!DOCTYPE html>

<html lang="en">


<!-- Mirrored from newsite.fundokids.in/Home by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 16 Dec 2021 21:28:17 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Fundo Kids Learning</title>

    <%- include('partials/header_links') %>

</head>

<body>

    <%- include('partials/navbar') %>

        <div class="site-header__decor">

            <div class="site-header__decor-row">

                <div class="site-header__decor-single">

                    <div class="site-header__decor-inner-1"></div><!-- /.site-header__decor-inner -->

                </div><!-- /.site-header__decor-single -->

                <div class="site-header__decor-single">

                    <div class="site-header__decor-inner-2"></div><!-- /.site-header__decor-inner -->

                </div><!-- /.site-header__decor-single -->

                <div class="site-header__decor-single">

                    <div class="site-header__decor-inner-3"></div><!-- /.site-header__decor-inner -->

                </div><!-- /.site-header__decor-single -->

            </div><!-- /.site-header__decor-row -->

        </div><!-- /.site-header__decor -->

        </header><!-- /.site-header -->
        <div class="banner-wrapper">

            <section class="banner-one banner-carousel__one no-dots owl-theme owl-carousel">

                <div class="banner-one__slide banner-one__slide-one">

                    <div class="container">

                        <!--<div class="banner-one__bubble-1"></div><!-- /.banner-one__bubble- -->

                        <!--<div class="banner-one__bubble-2"></div><!-- /.banner-one__bubble- -->

                        <!--<div class="banner-one__bubble-3"></div><!-- /.banner-one__bubble- -->

                        <img src="assets/user/images/home_img.jpg" alt="" class="banner-one__scratch">

                        <!-- <img src="assets/user/images/slider-1-person-1.png" class="banner-one__person" alt=""> -->

                        <!--<div class="row no-gutters">-->

                        <!--    <div class="col-xl-12">-->

                        <!--        <h3 class="banner-one__title banner-one__light-color">Welcome <br>-->

                        <!--            to Fundo Kids</h3><!-- /.banner-one__title -->

                        <!--        <p class="banner-one__tag-line">Fundo Kids provides central India's best online / offline classes and workshops with experts.</p><!-- /.banner-one__tag-line -->

                        <!--        <a href="#" class="thm-btn banner-one__btn">Learn More</a>-->

                        <!--    </div><!-- /.col-xl-12 -->

                        <!--</div><!-- /.row -->

                    </div><!-- /.container -->

                </div><!-- /.banner-one__slide -->

                <!--<div class="banner-one__slide banner-one__slide-two">-->

                <!--    <div class="container">-->

                <!--        <div class="banner-one__bubble-1"></div><!-- /.banner-one__bubble- -->

                <!--        <div class="banner-one__bubble-2"></div><!-- /.banner-one__bubble- -->

                <!--        <div class="banner-one__bubble-3"></div><!-- /.banner-one__bubble- -->

                <!--        <img src="http://newsite.fundokids.in/assets/user/images/slider-1-scratch.png" alt="" class="banner-one__scratch">-->

                <!--        <img src="http://newsite.fundokids.in/assets/user/images/slider-1-person-2.png" class="banner-one__person" alt="">-->

                <!--        <div class="row no-gutters">-->

                <!--            <div class="col-xl-12">-->

                <!--                <h3 class="banner-one__title banner-one__light-color">We Can <br>-->

                <!--                    Teach You</h3><!-- /.banner-one__title -->

                <!--                <p class="banner-one__tag-line">are you ready to learn?</p><!-- /.banner-one__tag-line -->

                <!--                <a href="#" class="thm-btn banner-one__btn">Learn More</a>-->

                <!--            </div><!-- /.col-xl-12 -->

                <!--        </div><!-- /.row -->

                <!--    </div><!-- /.container -->

                <!--</div><!-- /.banner-one__slide -->

            </section><!-- /.banner-one -->

            <!--<div class="banner-carousel-btn">-->

            <!--    <a href="#" class="banner-carousel-btn__left-btn"><i class="kipso-icon-left-arrow"></i></a>-->

            <!--    <a href="#" class="banner-carousel-btn__right-btn"><i class="kipso-icon-right-arrow"></i></a>-->

            <!--</div><!-- /.banner-carousel-btn -->

            <!-- /.banner-one__cta -->

        </div><!-- /.banner-wrapper -->

        <!-- /.video-two -->

        <!-- /.countdown-one -->

        <section class="thm-gray-bg course-category-one">

            <div class="container-fluid text-center">

                <div class="block-title text-center">

                    <h2 class="block-title__title">Wide range of learning

                    </h2><!-- /.block-title__title -->

                </div><!-- /.block-title -->

                <div class="course-category-one__carousel owl-carousel owl-theme">

                    <div class="item">

                        <div class="course-category-one__single color-1">

                            <div class="course-category-one__icon">

                                <i class="kipso-icon-web-programming"></i><!-- /.kipso-icon-camera -->

                            </div><!-- /.course-category-one__icon -->

                            <h3 class="course-category-one__title"><a href="#">Coding</a></h3>

                            <!-- /.course-category-one__title -->

                        </div><!-- /.course-category-one__single -->

                    </div><!-- /.item -->

                    <div class="item">

                        <div class="course-category-one__single color-2">

                            <div class="course-category-one__icon">

                                <i class="kipso-icon-training"></i><!-- /.kipso-icon-camera -->

                            </div><!-- /.course-category-one__icon -->

                            <h3 class="course-category-one__title"><a href="#">Development</a></h3>

                            <!-- /.course-category-one__title -->

                        </div><!-- /.course-category-one__single -->

                    </div><!-- /.item -->

                    <div class="item">

                        <div class="course-category-one__single color-3">

                            <div class="course-category-one__icon">

                                <i class="kipso-icon-music-player"></i><!-- /.kipso-icon-camera -->

                            </div><!-- /.course-category-one__icon -->

                            <h3 class="course-category-one__title"><a href="#">Music</a></h3>

                            <!-- /.course-category-one__title -->

                        </div><!-- /.course-category-one__single -->

                    </div><!-- /.item -->

                    <div class="item">

                        <div class="course-category-one__single color-4">

                            <div class="course-category-one__icon">

                                <i class="kipso-icon-manager"></i><!-- /.kipso-icon-camera -->

                            </div><!-- /.course-category-one__icon -->

                            <h3 class="course-category-one__title"><a href="#">Confidance Building</a></h3>

                            <!-- /.course-category-one__title -->

                        </div><!-- /.course-category-one__single -->

                    </div><!-- /.item -->

                    <div class="item">

                        <div class="course-category-one__single color-5">

                            <div class="course-category-one__icon">

                                <i class="kipso-icon-professor"></i><!-- /.kipso-icon-camera -->

                            </div><!-- /.course-category-one__icon -->

                            <h3 class="course-category-one__title"><a href="#">Spoken English</a></h3>

                            <!-- /.course-category-one__title -->

                        </div><!-- /.course-category-one__single -->

                    </div><!-- /.item -->

                    <div class="item">

                        <div class="course-category-one__single color-6">

                            <div class="course-category-one__icon">

                                <i class="kipso-icon-health"></i><!-- /.kipso-icon-camera -->

                            </div><!-- /.course-category-one__icon -->

                            <h3 class="course-category-one__title"><a href="#">Yoga & Dance</a></h3>

                            <!-- /.course-category-one__title -->

                        </div><!-- /.course-category-one__single -->

                    </div><!-- /.item -->

                    <div class="item">

                        <div class="course-category-one__single color-1">

                            <div class="course-category-one__icon">

                                <i class="kipso-icon-strategy"></i><!-- /.kipso-icon-camera -->

                            </div><!-- /.course-category-one__icon -->

                            <h3 class="course-category-one__title"><a href="#">IoT & Robotics</a></h3>

                            <!-- /.course-category-one__title -->

                        </div><!-- /.course-category-one__single -->

                    </div><!-- /.item -->

                    <div class="item">

                        <div class="course-category-one__single color-2">

                            <div class="course-category-one__icon">

                                <i class="kipso-icon-web-programming"></i><!-- /.kipso-icon-camera -->

                            </div><!-- /.course-category-one__icon -->

                            <h3 class="course-category-one__title"><a href="#">Coding</a></h3>

                            <!-- /.course-category-one__title -->

                        </div><!-- /.course-category-one__single -->

                    </div><!-- /.item -->

                    <div class="item">

                        <div class="course-category-one__single color-3">

                            <div class="course-category-one__icon">

                                <i class="kipso-icon-music-player"></i><!-- /.kipso-icon-camera -->

                            </div><!-- /.course-category-one__icon -->

                            <h3 class="course-category-one__title"><a href="#">Music</a></h3>

                            <!-- /.course-category-one__title -->

                        </div><!-- /.course-category-one__single -->

                    </div><!-- /.item -->

                    <div class="item">

                        <div class="course-category-one__single color-4">

                            <div class="course-category-one__icon">

                                <i class="kipso-icon-camera"></i><!-- /.kipso-icon-camera -->

                            </div><!-- /.course-category-one__icon -->

                            <h3 class="course-category-one__title"><a href="#">Art & Craft</a></h3>

                            <!-- /.course-category-one__title -->

                        </div><!-- /.course-category-one__single -->

                    </div><!-- /.item -->

                </div><!-- /.course-category-one__carousel owl-carousel owl-theme -->

                <a href="Our-Long-Term-Programs.html" class="thm-btn">View All Categories</a><!-- /.thm-btn -->

            </div><!-- /.container-fluid -->

        </section><!-- /.thm-gray-bg course-category-one -->

        <section class="cta-three">

            <div class="container">

                <div class="row">

                    <div class="col-lg-6 clearfix">

                        <img style="height: 925px;" src="assets/user/images/cta-1.jpg" class="cta-three__image" alt="">

                    </div><!-- /.col-lg-6 -->

                    <div class="col-lg-6">

                        <div class="cta-three__content">

                            <div class="block-title text-left">

                                <h2 class="block-title__title">Steps To Become A Smart Coder</h2>
                                <!-- /.block-title__title -->

                            </div><!-- /.block-title -->

                            <p class="cta-three__text" style="color: black!important;">Step 1. Enroll<br>

                                Attend the demo classes and schedule for live classes<br>

                                Step 2. Learn<br>

                                Your kid will learn directly from experts

                                <br>

                                Step 3. Implementation

                                Your kid will implement his own idea into reality and build cool projects

                                <br>Step 4. Certification

                                Certificate for your kid to showcase skills & learning to the world

                                <br>

                            </p>

                            <!-- /.cta-three__text -->

                            <div class="cta-three__single-wrap">

                                <div class="cta-three__single">

                                    <i class="kipso-icon-strategy" style='color: #f16101!important' ;></i>
                                    <!-- /.kipso-icon-strategy -->

                                    <p class="cta-three__single-text">Certificate

                                        Courses</p><!-- /.cta-three__single-text -->

                                </div><!-- /.cta-three__single -->

                                <div class="cta-three__single">

                                    <i class="kipso-icon-training" style='color: #f16101!important' ;></i>
                                    <!-- /.kipso-icon-training -->

                                    <p class="cta-three__single-text">Interactive

                                        Learning</p><!-- /.cta-three__single-text -->

                                </div><!-- /.cta-three__single -->

                                <div class="cta-three__single">

                                    <i class="kipso-icon-human-resources" style='color: #f16101!important' ;></i>
                                    <!-- /.kipso-icon-human-resources -->

                                    <p class="cta-three__single-text">Expert

                                        Teachers</p><!-- /.cta-three__single-text -->

                                </div><!-- /.cta-three__single -->

                            </div><!-- /.cta-three__single-wrap -->

                            <a href="Our-Story.html" class="thm-btn">Learn More</a><!-- /.thm-btn -->

                        </div><!-- /.cta-three__content -->

                    </div><!-- /.col-lg-6 -->

                </div><!-- /.row -->

            </div><!-- /.container -->

        </section><!-- /.cta-three -->

        <section class="blog-two" style="background-color: white">

            <div class="container">

                <div class="block-title text-center">

                    <h2 class="block-title__title" style="color: #012237">Our latest news <br>

                        & articles</h2><!-- /.block-title__title -->

                </div><!-- /.block-title -->

                <div class="blog-two__carousel owl-carousel owl-theme">


                    <div class="item">

                        <div class="blog-two__single" style="background-image: url(newimage/USR-1631528885223.png);">

                            <div class="blog-two__inner" style="height:360px!important;">

                                <a href="Blog-Details/healthy-food-habits/6.html" class="blog-two__date">

                                    <span>25</span>

                                    Jul

                                </a><!-- /.blog-two__date -->

                                <div class="blog-two__meta">

                                    <a href="#">by Admin</a>

                                </div><!-- /.blog-two__meta -->

                                <h3 class="blog-two__title">

                                    <a href="Blog-Details/healthy-food-habits/6.html">Parenting 101: Healthy food
                                        habits</a>

                                </h3><!-- /.blog-two__title -->

                            </div><!-- /.blog-two__inner -->

                        </div><!-- /.blog-two__single -->

                    </div><!-- /.item -->


                    <div class="item">

                        <div class="blog-two__single" style="background-image: url(newimage/USR-163153030089.png);">

                            <div class="blog-two__inner" style="height:360px!important;">

                                <a href="Blog-Details/technology-pros-cons-for-kids/7.html" class="blog-two__date">

                                    <span>25</span>

                                    Jul

                                </a><!-- /.blog-two__date -->

                                <div class="blog-two__meta">

                                    <a href="#">by Admin</a>

                                </div><!-- /.blog-two__meta -->

                                <h3 class="blog-two__title">

                                    <a href="Blog-Details/technology-pros-cons-for-kids/7.html">Technology - Pros and
                                        Cons for Kids</a>

                                </h3><!-- /.blog-two__title -->

                            </div><!-- /.blog-two__inner -->

                        </div><!-- /.blog-two__single -->

                    </div><!-- /.item -->


                    <div class="item">

                        <div class="blog-two__single" style="background-image: url(newimage/USR-1631533645561.png);">

                            <div class="blog-two__inner" style="height:360px!important;">

                                <a href="Blog-Details/learning-system/8.html" class="blog-two__date">

                                    <span>25</span>

                                    Jul

                                </a><!-- /.blog-two__date -->

                                <div class="blog-two__meta">

                                    <a href="#">by Admin</a>

                                </div><!-- /.blog-two__meta -->

                                <h3 class="blog-two__title">

                                    <a href="Blog-Details/learning-system/8.html">Learning System</a>

                                </h3><!-- /.blog-two__title -->

                            </div><!-- /.blog-two__inner -->

                        </div><!-- /.blog-two__single -->

                    </div><!-- /.item -->


                    <div class="item">

                        <div class="blog-two__single" style="background-image: url(newimage/USR-1631534447579.webp);">

                            <div class="blog-two__inner" style="height:360px!important;">

                                <a href="Blog-Details/fly-higher/9.html" class="blog-two__date">

                                    <span>25</span>

                                    Jul

                                </a><!-- /.blog-two__date -->

                                <div class="blog-two__meta">

                                    <a href="#">by Admin</a>

                                </div><!-- /.blog-two__meta -->

                                <h3 class="blog-two__title">

                                    <a href="Blog-Details/fly-higher/9.html">Fly higher - Uchaiyon ki udan</a>

                                </h3><!-- /.blog-two__title -->

                            </div><!-- /.blog-two__inner -->

                        </div><!-- /.blog-two__single -->

                    </div><!-- /.item -->


                </div><!-- /.blog-two__carousel owl-carousel owl-theme -->

            </div><!-- /.container -->

        </section>

        <!-- /.blog-one blog-page -->

        <!--<section class="cta-four">-->

        <!--    <img src="http://newsite.fundokids.in/assets/user/images/circle-stripe-1.png" class="cta-four__stripe" alt="">-->

        <!--    <img src="http://newsite.fundokids.in/assets/user/images/line-stripe-1.png" class="cta-four__line" alt="">-->

        <!--    <div class="container text-center">-->

        <!--        <div class="block-title">-->

        <!--            <h2 class="block-title__title">We’ve best teachers <br>-->

        <!--                in every subject</h2><!-- /.block-title__title -->

        <!--        </div><!-- /.block-title -->

        <!--        <p class="cta-four__text">Learn and build cool games, apps, robotics, home automation, skill development, spoken english and so much more!</p><!-- /.cta-four__text -->

        <!--    </div><!-- /.container text-center -->

        <!--</section><!-- /.cta-four -->
        <%- include('partials/footer') %>
            <%- include('partials/footer_links') %>
</body>

<!-- Mirrored from newsite.fundokids.in/Home by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 16 Dec 2021 21:28:17 GMT -->

</html>